<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Lok Hariharan">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Lok Hariharan professional website">
    <title>"Lok Hariharan"</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body >
    <header>
        <h1 id = "coolname">Lok Hariharan</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="../views/cv.html">CV</a>
            <a href="../views/Contact Me.html">Contact Me</a>
            <a href="../views/For Fun.html">For Fun</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Contact me</h2>
        <form>
            <label>Your Name(Required)</label>
            <br>
            <input type="text">
            <br>
            <label>Your Email</label>
            <br>
            <input type="email">
            <br>
            <label>Your Comment</label>
            <br>
            <input type="text">
            <input type="submit"  value = "Send">
        </form>
        <table>
                <tr>
                    <th>Contact Method</th>
                </tr>
                <tr>
                    <td>Lok Hariharan</td>
                </tr>
                <tr>
                    <td>lharihar@andrew.cmu.edu</td>
                </tr>
                <tr>
                    <td>(908)-719-0589</td>
                </tr>
        </table>
    </div>
    <footer>&copy 2025 designed and coded by Lok Hariharan</footer>
</body>
</html>