<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Lok Hariharan">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Lok Hariharan professional website">
    <title>"Lok Hariharan"</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body >
    <header>
        <h1 id = "coolname">Lok Hariharan</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="Contact Me.html">Contact Me</a>
            <a href="For Fun.html">For Fun</a>

        </nav>
    </header>
    <div class = "main">
        <h2>Things I do for Fun</h2>
        <table>
            <ul>
                <li><row>Play Basketball</row></li>
                <li><row>Play Chess</row></li>
                <li><row>Hangout with Veyd Patil</row></li>
                <li><row>Track and Field</row></li>
                <li><row>Play Videogames</row></li>
            </ul>
        </table>
    </div>
    <footer>&copy 2025 designed and coded by Lok Hariharan</footer>
</body>
</html>