<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Lok Hariharan">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Lok Hariharan professional website">
    <title>"Lok Hariharan"</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"   integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="   crossorigin="anonymous"></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id = "coolname">Lok Hariharan</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="Contact Me.html">Contact Me</a>
            <a href="For Fun.html">For Fun</a>

        </nav>
    </header>
    <div class = "main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Ridge High School</td>
                <td>My High School</td>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>My College</td>
            </tr>
        </table>
        <nav>
            <a href="../static/Lok Resume copy.pdf">My Resume(pdf)</a>
        </nav>
    </div>
    <footer> <p id = "copyYear">Designed and coded by Lok Hariharan &copy </p></footer>
</body>
</html>